{% macro ProjectBar(projet, read) %}
	<div class="card mt-3 p-2" style="max-width: 540px;">
		<div class="row g-0" style="background-color: {{projet.color}};">
			<div class="col-md-4">
				<img src={{projet.image}} class="img-fluid rounded-start" alt="...">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title">{{projet.title}}</h5>
					<p class="card-text">{{projet.description}}</p>
				</div>
			</div>
		</div>
	</div>
	
	<div>
		{% if read %}
			<a href="/read/project/{{projet.id}}" class="btn btn-primary" title="Lire">
				<i class="fa-regular fa-eye"></i> {# icone à l'intérieur du bouton #}
			</a>
		{% endif %}
		{% if is_granted('ROLE_ADMIN') %}
			<a href="/update/project/{{projet.id}}" class="btn btn-warning" title="Modifier">
				<i class="fa-solid fa-pen"></i>
			</a>
			<a href="/delete/project/{{projet.id}}" class="btn btn-danger" title="Supprimer">
				<i class="fa-solid fa-trash"></i>
			</a>
		{% endif %}
	</div>
{% endmacro %}
