{% macro SkillBar(talent, read) %}
	<div class="mt-5">
		<p>{{talent.title}}</p>
		<div class="progress" role="progressbar" aria-valuenow="{{talent.rate}}" aria-valuemin="0" aria-valuemax="100">
			<div class="progress-bar" style="width: {{talent.rate}}%; background-color: {{talent.color}}"></div>
		</div>
		<p class="text-end">{{talent.rate}}
			%</p>
		
	</div>
	<div>
		{% if is_granted('ROLE_ADMIN') %}
		{% if read %}
			<a href="/read/skill/{{talent.id}}" class="btn btn-primary" title="Lire">
				<i class="fa-regular fa-eye"></i>
			</a>
		{% endif %}
			<a href="/update/skill/{{talent.id}}" class="btn btn-warning" title="Modifier">
				<i class="fa-solid fa-pen"></i>
			</a>
			<a href="/delete/skill/{{talent.id}}" class="btn btn-danger" title="Supprimer">
				<i class="fa-solid fa-trash"></i>
			</a>
		{% endif %}
	</div>
{% endmacro %}
